.navigation {
  padding: 1.5rem;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;

  display: flex;
  justify-content: space-between;
}
.navlinks {
  display: flex;
  gap: 1rem;
}
.navlink {
  text-decoration: none;
}
