.navigation {
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
  padding: 0 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlinks {
  display: flex;
  gap: 1rem;
}
.navlink {
  text-decoration: none;
}
